# =========================
# C++ Build Files
# =========================
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib

# =========================
# Build Directories
# =========================
bin/
obj/
Debug/
Release/

# =========================
# Code::Blocks
# =========================
*.depend
*.layout

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Temporary Files
# =========================
*.tmp
*.log